<div class="relative pt-16 pb-0 flex content-center items-center justify-center" style="min-height: 400px;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
        style='background-image: url("http://127.0.0.1:3000/img/banner01.png" );'>
    </div>


</div>

<section class="pt-6 pb-20 bg-gray-100 ">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="lg:pt-0 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                            <i class="fas fa-award"></i>
                        </div>
                        <h6 class="text-xl font-semibold">
                            <a href="/inscripcion"
                                class="text-gray-900 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium">Colegiate</a>
                        </h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Trámite de Colegiación electrónica
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-4/12 px-4 pt-0 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                            <i class="fas fa-retweet"></i>
                        </div>
                        <h6 class="text-xl font-semibold">
                            <a href="/login"
                                class="text-gray-900 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium">Portal</a>
                        </h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Portal del colegiado
                        </p>
                    </div>
                </div>
            </div>
            <div class="pt-0  w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                            <i class="fas fa-fingerprint"></i>
                        </div>
                        <h6 class="text-xl font-semibold">
                            <a href="/buscar"
                                class="text-gray-900 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium">
                                Colegiados</a>
                        </h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Ingenieros afiliados al CIP
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>