<aside
    class="max-w-62.5 ease-nav-brand z-990 fixed inset-y-0 my-4 ml-4 block w-full -translate-x-full flex-wrap items-center justify-between overflow-y-auto rounded-2xl border-0 bg-white p-0 antialiased shadow-soft-2xl transition-transform duration-200 xl:left-0 xl:translate-x-0">
    <div class="h-19.5">
        <i class="absolute top-0 right-0 hidden p-4 opacity-50 cursor-pointer fas fa-times text-slate-400 xl:hidden"
            sidenav-close></i>
        <a class="inline-block px-8 py-6 m-0 text-size-sm whitespace-nowrap text-slate-700">
            <img src="../img/logocip.png"
                class="inline h-full w-full transition-all duration-200 ease-nav-brand max-h-10" alt="" />
        </a>
    </div>

    <hr class="h-px mt-0 bg-transparent bg-gradient-horizontal-dark" />

    <div class="items-center block w-auto max-h-screen overflow-auto grow basis-full">
        <ul class="flex flex-col pl-0 mb-0">
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/pages/dashboard">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/home.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Dashboard</span>
                </a>
            </li>
            
            <% if(locals.rol=="Organizador") { %>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/pages/eventos">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/evento.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Eventos</span>
                </a>
            </li>
            <% } %>

            <% if(locals.rol=="Admi") { %>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/pages/solicitudes">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/evento.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Solicitudes</span>
                </a>
            </li>
            <% } %>

            <% if(locals.rol=="Secretaria") { %>
                <li class="mt-0.5 w-full">
                    <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                        href="/pages/inscripcion">
                        <div
                            class="bg-gradient-dark-grayshadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                            <img width="25px" height="25px" src="../navbar/evento.svg" alt="">
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Inscripciones</span>
                    </a>
                </li>
            <% } %>

            <% if(locals.rol=="Colegiado") { %>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 shadow-soft-xxs text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-red-600 transition-colors"
                    href="/pages/capacitaciones">
                    <div
                        class="bg-gradient-red shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/capacitacion.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Capacitaciones</span>
                </a>
            </li>
            <% } %>

            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/pages/pagos">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center fill-current stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/pago.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Pagos</span>
                </a>
            </li>

            <% if(locals.rol=="Colegiado") { %>
            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/pages/notificacion">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/notificacion.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Notificaciones</span>
                </a>
            </li>

            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/listarasis">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/asistencia.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Asistencias</span>
                </a>
            </li>
            <% } %>

            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/pages/calendario">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/calendario.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Calendario</span>
                </a>
            </li>

            <li class="w-full mt-4">
                <h6 class="pl-6 ml-2 font-bold leading-tight uppercase text-size-xs opacity-60">Paginas de la Cuenta
                </h6>
            </li>

            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/pages/perfil">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/perfil.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Perfil</span>
                </a>
            </li>

            <li class="mt-0.5 w-full">
                <a class="py-2.7 text-size-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                    href="/logout">
                    <div
                        class="bg-gradient-dark-gray shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                        <img width="25px" height="25px" src="../navbar/cerrar.svg" alt="">
                    </div>
                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>
</aside>